@font-face {
  font-family: "SF Pro Display Custom";
  src: url("./fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display Custom";
  src: url("./fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro Display Custom";
  src: url("./fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: bold;
}

body {
  font-family: "SF Pro Display Custom";
  background: linear-gradient(180deg, #e5b2ca 0%, #cd82de 100%);
}
main {
  max-width: 414px;
  margin: auto;

  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 36px;
  padding-right: 36px;
  min-height: 100vh;
}
.header-form {
  text-align: center;
  color: #fff;
}

.header-form h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 0;
}

.header-form h1 {
  font-weight: 800;
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 37px;
  margin-top: 0;
}

form .form-group {
  position: relative;
  display: flex;
}
.form-control {
  background: #ffffff;
  border-radius: 37px;
  height: 74px;
  max-width: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 60px;
  line-height: 74px;
  margin-bottom: 14px;
  color: #3c3c43;
}

.form-control_icon {
  position: absolute;
  left: 22px;
  top: calc(50% - 15px);
}
form .form-group:nth-child(2) .form-control_icon {
  top: calc(50% - 18px);
}

.btn {
  height: 70px;
  border-radius: 37px;
  line-height: 70px;
  text-align: center;
  display: block;
  color: #ffffff;
  font-weight: bold;
  border: none;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}
.btn-submit {
  background: #78258b;
  box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
}
.btn_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.seperator {
  display: flex;
  margin: 32px 0;
}
.seperator hr {
  border: 1px dashed rgba(255, 255, 255, 0.4);
  flex: 1;
}
.seperator_text {
  color: #fff;
  width: 45px;
  height: 16px;
  text-align: center;
}

.btn-cta {
  background: rgba(255, 255, 255, 0.28);
  box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
}

.btn-cta:hover {
  background: #78258b;
}

@media screen and (max-width: 424px) {
  main {
    padding-left: 24px;
    padding-right: 24px;
  }
  .img-responsive {
    max-width: 100%;
  }
  .form-control {
    height: 60px;
    line-height: 60px;
  }
  .btn {
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .header-form h1 {
    font-size: 28px;
  }
}
