@import 'bootstrap/dist/css/bootstrap.min.css';
$primary-color: #6cf;
$second-color: blue;
@mixin height($height: 60px) {
  height: $height;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer {
  @include height;
  background: $primary-color;
}
.your-name {
  color: $second-color;
}
