@import 'bootstrap/dist/css/bootstrap.min.css';

.main {
  min-height: 100vh;
}
.footer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background: #6cf;
}
.your-name {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}
.wheather-icon {
  width: 50%;
}
