 @import "button";
 @import "input";
 @import "fontFace";
 $backgroundBody: url(./images/bgimg.png);
 $backgroundContainer: rgba(49, 49, 49, 0.6);
 @mixin flexBox($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

 }
 $colorText : #FFFFFF;
 
body{ 
    background-image: $backgroundBody;
    background-repeat: round;
}
main{
    padding-top: 58px;
    max-width: 414px;
    min-height: 100vh;
    margin: auto;
    @include flexBox(column);
}
.container{
    width: 100%;
    box-sizing: border-box;
    margin-top: 52px;
    background: $backgroundContainer;
    backdrop-filter: blur(35px);
    border-radius: 40px;
    padding: 25px 36px 0px 36px;
    z-index: 2;
    section 
    {
        text-align: center;
        margin-bottom: 32px;
        h4
        {
            @include font-regular();
            margin-top: 0;
            margin-bottom: 0;
            font-size: 17px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.75);
        }
        h1
        {
            @include font-Bold();
            margin-top: 6px;
            font-size: 28px;
            line-height: 33px;
            color: #FFFFFF;
        }
    }
    &__btn{
        @include button();
        &--login{
            &:hover
            {
                background-color: rgba(255, 255, 255, 0.4);
            }
            span
            {
                cursor: pointer;
                position: absolute;
                margin-top: 18px;
                margin-left: 14px;
                font-size: 9px;
                line-height: 11px;
                color: #FFFFFF99;
            }
            input
            {
                @include input();
                &::placeholder
                {
                    color: $colorText;
                }
            }
            img
            {     
                cursor: pointer;
                right: 0;
                top: calc(50% - 5px);
                right: 4.39%;
                position: absolute;
            }
        }
        &--submit{
            margin-bottom: 24px;
            background: #57D3EC;
            box-shadow: 0px 28px 40px rgba(87, 211, 236, 0.35);
            border-radius: 14px;
            border: 0;
            @include flexBox(row);
            &:hover{
                background-color: aqua;
            }
            span
            {
                @include font-Bold();
                font-size: 20px;
                line-height: 2px;
                color: $colorText;  
            }
        }
        &--otherSubmit{
            a{
                @include button();
                cursor: pointer;
                background: rgba(0, 0, 0, 0.3);
                border: 1px solid rgba(38, 115, 209, 0.08);
                border-radius: 10px;
                @include flexBox(row);
                text-decoration: none;
                &:first-child{
                    margin-right: 8px;
                }
                &:hover{
                    background-color:cornflowerblue;
                }
                span
                {
                    @include font-regular();
                    font-size: 11px;
                    line-height: 13px;
                    color: $colorText;
                    margin-left: 12px;
                }
            }
        }
    }
    &__seperator{
        @include font-regular();
        @include flexBox(row);
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        margin-bottom: 114px;
        margin-top: 24px;
        span{
            margin: 0px 14px;
        }
        &::after,&::before{
            content: "";
            height: 0;
            width: 40%;
            border-top: 1px dashed rgba(255, 255, 255, 0.4);
        }
    }
}
.btn-faceId{
    border: 1px solid;
    margin-top: -77px;
    width: 103px;
    height: 103px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background:  linear-gradient(129.7deg, rgba(255, 255, 255, 0.4) -1.3%, rgba(255, 255, 255, 0.05) 104.6%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(40px);
    z-index: 3;
    @include flexBox(column);
    &:hover{
        background:  linear-gradient(129.7deg, rgba(255, 255, 255, 0.6) -1.3%, rgba(255, 255, 255, 0.05) 104.6%);
    }
}
.footer{
    width: 100%;
    margin-top: -40px;
    margin-bottom: 0px;
    padding-top: 98px;
    padding-bottom: 34px;
    backdrop-filter: blur(35px);
    text-align: center;
    span{
        @include font-regular();
        font-size: 17px;
        line-height: 20px;
        color: $colorText;
        text-decoration: none;
    }
    a{
        @include font-regular();
        font-size: 17px;
        line-height: 20px;
        color: $colorText;
        text-decoration: none;
        &:hover{
            color: blanchedalmond;
        }
    }
}
@media screen and (min-width: 415px) {
    .footer{
        backdrop-filter: none;
    }
}
@media screen and (max-width: 365px) {
    main{
        max-width: 100%;
    }
}